<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Signing in to Always Greater</h1>
    <p>
      You just signed in to Always Greater.
    </p>
    <p>
      Every time you sign in you'll get a message like this.
    </p>
  </body>
</html>