<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Always Greater</h1>
    <p>
      You have just created an Always Greater account.
    </p>
    <p>
      If you are not already subscribed to the Always Greater Newsletter, you will receive an invitation to join. Please do so.
    </p>
  </body>
</html>