
<div class="row">
  <div class="span4">
    </br>
    </br>
  </div>
</div>


<div class="row">
  <div class="span4 offset4 well">
    <h1>Create Account (Test User)</h1>
    </br>
    <%= render 'form' %>
  </div>

</div>