


<div class="alert alert-info">
<a class="close" data-dismiss="alert">×</a>
 <h3>To help you create your <%= @interview.interview_type %>, tell us how "<%= @project.name %>" is going to change the way people do things.</h3>
</div>



<%= render 'form' %>
