<p id="notice"><%= notice %></p>

<h2>Project: <%= @project.name %></h2>

</br>

<h3>Create Problem Interview</h3>

<p>
  <%= render "interviews/problem_interview_form" %>
</p>

</br>

<!-- <h3>Create Solution Interview</h3>

<p>
  <%= "This feature is coming soon." %>
</p> -->



