
<h1>Your Project: <%= @project.name %></h1>

<br />

<% if session[:user_id] %>

  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
  
<% end %>

<br />
<br />

<div class="row">
  <div class="hero-unit span4">
      <h2>Problem Interview</h2>
      <br />
      <p>Ideal for understanding customers' problems before building or launching a product they might not be interested in.</p>
      <br />
      <p>
        <%= render "interviews/problem_interview_form" %>
      </p>
  </div>
  
  <div class="hero-unit span4">
      <h2>Solution Interview</h2> 
      <br />
      <p>Ideal for understanding how customers respond to your solution to their problems.</p>
      <br />
      <br />
      <br />
      <button class="btn btn-primary btn-large disabled">Create Solution Interview</button>
      <br />
      <br />
      <br />
  </div>
  
</div>



