<p id="notice"><%= notice %></p>

<h2>Create Problem Interview for <%= @project.name %></h2>


<p>
  <%= render "interviews/problem_interview_form" %>
</p>

</br>

<!-- <h3>Create Solution Interview</h3>

<p>
  <%= "This feature is coming soon." %>
</p> -->



