<div class="row">
  <div class="span3 offset4">
    <h1><%= @project.name %></h1>
  </div>
</div>

<div class="row">
  <div class="span6 offset3">
    <h2><%= @interview.interview_type %> Form</h2>
  </div>
</div>

<br />
<br />
<br />

<%= render 'form' %>

<%= link_to 'Back' %>
