
<div class="row">
  <div class="span12 offset4">
    <h1><%= @project.name %></h1>
  </div>
</div>

<div class="row">
  <div class="span12 offset3">
    <h2><%= @interview.interview_type %> Form</h2>
  </div>
</div>

<br />
<br />
<br />


<%= render 'form' %>
