// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbar-inner {
  background-color: #2c2c2c; /* place your solid color here */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}